
.container {
  max-width: 900px;
  margin: 20px auto;
  padding: 20px;
}

.firstName {
  text-align: center;
  font-family: cursive;
}

.tributeImage, .video-container iframe {
  width: 100%;
  max-width: 560px;
  height: 500px;    
  border-radius: 4px;
  object-fit: cover; 
}


.backBtn{
  display: block;
  margin: 20px auto;
  padding: 10px 20px;
  font-size: 16px;
  background-color: #798fa6;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.deleteBtn{
  display: block;
  margin: 20px auto;
  padding: 10px 20px;
  font-size: 16px;
  background-color: #af0606ae;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.confirmBtn{
  display: block;
  margin: 20px auto;
  padding: 10px 20px;
  font-size: 16px;
  background-color: #155a10bb;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}