.qrCodePage {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh; /* This makes the container full height of the viewport */
}

.qrTitle {
  text-align: center;
}

.qrCodeContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}
   
 